In [2]:
""" Here in this step we tried to understand how many Museums, Libraries and Archives with a free entry/ticket cost there are and how they are distributed by region and city.
First of all we counted how many Museums, Libraries and Archives have a free entry or a ticket cost"""

from rdflib import Graph
import csv
import pandas as pd
from IPython.display import display

#reading csv files with related info to museums, archives and libraries with a free entry cost
df_museum_free_entry_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Museums_TicketCost_FreeEntry\Museums_Free_Entry_cost.csv')
df_archive_free_ticket_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Archives_FreeEntry_TicketCost\Archive__free_entry_cost.csv')
df_library_free_entry_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Libraries_FreeEntry_TicketCost\library_free_entry_Cost_Price.csv')


#Dataframes containing numbers for Museums, Libraries, Archives with a free entry cost
num_museums_free_entry = df_museum_free_entry_cost['Museum_ID'].nunique()
num_archives_free_entry = df_archive_free_ticket_cost['Archive_ID'].nunique()
num_libraries_free_entry = df_library_free_entry_cost['Library_ID'].nunique()


#Creating an unique dataframes with all numbers for Museums, Libraries, Archives with a free entry cost
df_all_numbers_MAL_free_entry=pd.DataFrame({
    'Museums': [num_museums_free_entry],
    'Archives': [num_archives_free_entry],
    'Libraries': [num_libraries_free_entry]
})

#Creatin an header for the main dataframe with all numbers for Museums, Libraries, Archives with a free entry cost
new_header = ['Numbers of Museums, Archives, Libraries with a free entry cost'] + [''] * (len(df_all_numbers_MAL_free_entry.columns)-1)
df_all_numbers_MAL_free_entry.columns = pd.MultiIndex.from_tuples(zip(new_header, df_all_numbers_MAL_free_entry))

# Remove the index
df_all_numbers_MAL_free_entry.index = ['']

# Center-align the numbers
df_all_numbers_free_entry_styled =df_all_numbers_MAL_free_entry.style.set_properties(**{'text-align': 'center'}).set_table_styles([dict(selector='th', props=[('text-align', 'center')])])


display(df_all_numbers_free_entry_styled)

# CSV of above Dataframe
csv_file_all_numbers_free_entry = "Numbers_of_MALs_with_free_entry_cost.csv"
df_all_numbers_MAL_free_entry.to_csv(csv_file_all_numbers_free_entry, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_all_numbers_free_entry}")


#reading csv files with related info to museums, archives and libraries with a ticket entry cost
df_museum_ticket_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Museums_TicketCost_FreeEntry\Museums_Ticket_Cost_Price.csv')
df_archive_ticket_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Archives_FreeEntry_TicketCost\Archive__ticket_cost.csv')
df_library_ticket_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Libraries_FreeEntry_TicketCost\library_ticket_cost_Price.csv')



#Dataframes containing numbers for Museums, Libraries, Archives with a ticket cost
num_museums_ticket_cost = df_museum_ticket_cost['Museum_ID'].nunique()
num_archives_ticket_cost = df_archive_ticket_cost['Archive_ID'].nunique()
num_libraries_ticket_cost = df_library_ticket_cost['Library_ID'].nunique()

#Creating an unique dataframes with all numbers for Museums, Libraries, Archives with a ticket cost
df_all_numbers_MAL_ticket_cost=pd.DataFrame({
    'Museums': [num_museums_ticket_cost],
    'Archives': [num_archives_ticket_cost],
    'Libraries': [num_libraries_ticket_cost]
})

#Creatin an header for the main dataframe with all numbers for Museums, Libraries, Archives with a ticket cost
new_header = ['Numbers of Museums, Archives, Libraries with a ticket entry cost'] + [''] * (len(df_all_numbers_MAL_ticket_cost.columns)-1)
df_all_numbers_MAL_ticket_cost.columns = pd.MultiIndex.from_tuples(zip(new_header, df_all_numbers_MAL_ticket_cost))

# Remove the index
df_all_numbers_MAL_ticket_cost.index = ['']

# Center-align the numbers
df_all_numbers_ticket_cost_styled = df_all_numbers_MAL_ticket_cost.style.set_properties(**{'text-align': 'center'}).set_table_styles([dict(selector='th', props=[('text-align', 'center')])])


display(df_all_numbers_ticket_cost_styled)

# CSV of above Dataframe
csv_file_all_numbers_ticket_cost = "Numbers_of_MALs_with_ticket_entry_cost.csv"
df_all_numbers_MAL_ticket_cost.to_csv(csv_file_all_numbers_ticket_cost, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_all_numbers_ticket_cost}")

Results have been written to Numbers_of_MALs_with_free_entry_cost.csv

Results have been written to Numbers_of_MALs_with_ticket_entry_cost.csv

In [3]:
""" In the next step we want to create a dataframe with all museums, archives libraries and the free-entry numbers distribution for each region. This will require Modification of each archives, museums and libraries dataframe with free entry and their region counts. 
This approach will be useful for the merge of all the single dataframes into one."""

#reading csv files with related info to museums, archives and libraries with a free entry and their count per region
df_museum_free_entry_region_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Museums_TicketCost_FreeEntry\Museums_Free_Entry_region_count.csv')
df_archive_free_entry_region_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Archives_FreeEntry_TicketCost\Archive_Free_Entry_region_count.csv')
df_library_free_entry_region_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Libraries_FreeEntry_TicketCost\library_Free_Entry_region_count.csv')



##Creating modified dataframes for free entry museums, libraries and archives and their regions (only the names) and their count
df_museum_free_entry_region_counts_modified=pd.DataFrame()
df_museum_free_entry_region_counts_modified['Region'] = df_museum_free_entry_region_counts['Museum_Region'].str.split('/').str[-1]
df_museum_free_entry_region_counts_modified ['Museums_Number']= df_museum_free_entry_region_counts['Count']


df_archive_free_entry_region_counts_modified=pd.DataFrame()
df_archive_free_entry_region_counts_modified['Region'] = df_archive_free_entry_region_counts['Archive_Region'].str.split('/').str[-1]
df_archive_free_entry_region_counts_modified['Archives_Number']= df_archive_free_entry_region_counts['Count']


df_libraries_free_entry_region_counts_modified=pd.DataFrame()
df_libraries_free_entry_region_counts_modified['Region'] = df_library_free_entry_region_counts['Library_Region'].str.split('/').str[-1]
df_libraries_free_entry_region_counts_modified['Libraries_Number']= df_library_free_entry_region_counts['Count']


# display (df_museum_free_entry_region_counts_modified)
# display (df_archive_free_entry_region_counts_modified)
# display (df_libraries_free_entry_region_counts_modified)


#Merging of all libraries, archives and museums dataframes and region count into one dataframe
df_all_numbers_region_free_entry = df_museum_free_entry_region_counts_modified.merge(df_archive_free_entry_region_counts_modified, on='Region', how='outer').merge(df_libraries_free_entry_region_counts_modified, on='Region', how='outer')

#Changing Nan values into '0' and having all integers number in Archives_Number Column
df_all_numbers_region_free_entry['Archives_Number'] = df_all_numbers_region_free_entry['Archives_Number'].fillna(0).astype(int)

#Changing Nan values into '0' and having all integers number in Libraries_Number Column       
df_all_numbers_region_free_entry['Libraries_Number'] = df_all_numbers_region_free_entry['Libraries_Number'].fillna(0).astype(int)


#Creation of an header for the final dataframe
new_header = ['Numbers per region of Museums, Archives, Libraries with a free entry cost'] + [''] * (len(df_all_numbers_region_free_entry.columns) - 1)
df_all_numbers_region_free_entry.columns = pd.MultiIndex.from_tuples(zip(new_header, df_all_numbers_region_free_entry.columns))
display(df_all_numbers_region_free_entry)


# CSV of above Dataframe
csv_file_all_numbers_region = "Numbers_of_MALs_Per_Region_Free_Entry.csv"
df_all_numbers_region_free_entry.to_csv(csv_file_all_numbers_region , index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_all_numbers_region}")

   Numbers per region of Museums, Archives, Libraries with a free entry cost  \
                                                                      Region
0                                             Abruzzo
1                                          Basilicata
2                                            Calabria
3                                            Campania
4                                      Emilia-Romagna
5                               Friuli-Venezia_Giulia
6                                               Lazio
7                                             Liguria
8                                           Lombardia
9                                              Marche
10                                             Molise
11                                           Piemonte
12                                             Puglia
13                                           Sardegna
14                                            Sicilia
15                                            Toscana
16                                Trentino-Alto_Adige
17                                             Umbria
18                       Valle_d_Aosta_Vallee_d_Aoste
19                                             Veneto
20                                              TOTAL


   Museums_Number Archives_Number Libraries_Number
0              27               7                0
1               7               2                1
2              26               7                0
3             161               4                3
4             347              10                2
5             104               4                2
6             177               7               12
7             107               4                1
8             157               7                3
9              54               9                1
10              5               2                0
11             45               8                1
12             31               3                0
13             20               4                2
14             27               7                0
15             43               7                6
16              6               2                0
17              7               6                0
18              9               0                0
19             10               6                3
20           1370             106               37

Results have been written to Numbers_of_MALs_Per_Region_Free_Entry.csv

In [4]:
""" In this step instead we want to create a dataframe with all museums, archives libraries and the ticket cost numbers distribution for each region. This will require Modification of each archives, museums and libraries dataframe with a ticket cost and their region counts. 
This approach will be useful for the merge of all the single dataframes into one."""



#reading csv files with related info to museums, archives and libraries with a ticket cost entry and their count per region
df_museum_ticket_cost_region_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Museums_TicketCost_FreeEntry\Museums_Ticket_Cost_Region_count.csv')
df_archive_ticket_cost_region_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Archives_FreeEntry_TicketCost\Archive_ticket_cost_region_count.csv')
df_library_ticket_cost_region_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Libraries_FreeEntry_TicketCost\library_ticket_cost_region_count.csv')


#Creating a modified dataframe for museums with a ticket cost, their region (only the names) and count
df_museum_ticket_cost_region_counts_modified=pd.DataFrame()
df_museum_ticket_cost_region_counts_modified['Region'] = df_museum_ticket_cost_region_counts['Museum_Region'].str.split('/').str[-1]
df_museum_ticket_cost_region_counts_modified ['Museums_Number']= df_museum_ticket_cost_region_counts['Count']
df_museum_ticket_cost_region_counts_modified = df_museum_ticket_cost_region_counts_modified.groupby('Region', as_index=False)['Museums_Number'].sum()
total_index = df_museum_ticket_cost_region_counts_modified[df_museum_ticket_cost_region_counts_modified['Region'] == 'TOTAL'].index[0]
total_row = df_museum_ticket_cost_region_counts_modified.loc[total_index]
df_museum_ticket_cost_region_counts_modified.drop(index=total_index, inplace=True)
df_museum_ticket_cost_region_counts_modified= pd.concat ([df_museum_ticket_cost_region_counts_modified, total_row.to_frame().T], ignore_index=True)


#Creating a modified dataframe for archives with a ticket cost, their region (only the names) and count
df_archive_ticket_cost_region_counts_modified=pd.DataFrame()
df_archive_ticket_cost_region_counts_modified['Region'] = df_archive_ticket_cost_region_counts['Archive_Region'].str.split('/').str[-1]
df_archive_ticket_cost_region_counts_modified['Archives_Number']= df_archive_ticket_cost_region_counts['Count']

#Creating a modified dataframe for libraries with a ticket cost, their region (only the names) and count
df_libraries_ticket_cost_region_counts_modified=pd.DataFrame()
df_libraries_ticket_cost_region_counts_modified['Region'] = df_library_ticket_cost_region_counts['Library_Region'].str.split('/').str[-1]
df_libraries_ticket_cost_region_counts_modified['Libraries_Number']= df_library_ticket_cost_region_counts['Count']


# display (df_museum_ticket_cost_region_counts_modified)
# display (df_archive_ticket_cost_region_counts_modified)
# display (df_libraries_ticket_cost_region_counts_modified)


# Merging of all libraries, archives and museums dataframes with a ticket cost and region count into one dataframe
df_all_numbers_region_ticket_cost = df_museum_ticket_cost_region_counts_modified.merge(df_archive_ticket_cost_region_counts_modified, on='Region', how='outer').merge(df_libraries_ticket_cost_region_counts_modified, on='Region', how='outer')


# #Changing Nan values into '0' and having all integers number in Archives_Number Column
df_all_numbers_region_ticket_cost['Archives_Number'] = df_all_numbers_region_ticket_cost['Archives_Number'].fillna(0).astype(int)

#Changing Nan values into '0'  and having all integers number in Libraries_Number Column       
df_all_numbers_region_ticket_cost['Libraries_Number'] = df_all_numbers_region_ticket_cost['Libraries_Number'].fillna(0).astype(int)


# #Creation of an header for the final dataframe
new_header = ['Numbers per region of Museums, Archives, Libraries with a ticket entry cost'] + [''] * (len(df_all_numbers_region_ticket_cost.columns) - 1)
df_all_numbers_region_ticket_cost.columns = pd.MultiIndex.from_tuples(zip(new_header, df_all_numbers_region_ticket_cost.columns))
display(df_all_numbers_region_ticket_cost)

# CSV of above Dataframe
csv_all_numbers_region_ticket_cost = "Numbers_of_MALs_Per_region_Ticket_Cost.csv"
df_all_numbers_region_ticket_cost.to_csv(csv_all_numbers_region_ticket_cost , index=False, encoding='utf-8')
print(f"Results have been written to {csv_all_numbers_region_ticket_cost}")

   Numbers per region of Museums, Archives, Libraries with a ticket entry cost  \
                                                                        Region
0                                             Abruzzo
1                                          Basilicata
2                                            Calabria
3                                            Campania
4                                      Emilia-Romagna
5                               Friuli-Venezia_Giulia
6                                               Lazio
7                                             Liguria
8                                           Lombardia
9                                              Marche
10                                             Molise
11                                           Piemonte
12                                             Puglia
13                                           Sardegna
14                                            Sicilia
15                                            Toscana
16                                Trentino-Alto_Adige
17                                             Umbria
18                       Valle_d_Aosta_Vallee_d_Aoste
19                                             Veneto
20                                              TOTAL


   Museums_Number Archives_Number Libraries_Number
0              40               0                0
1              14               0                0
2              20               0                0
3              45               0                0
4             112               0                0
5              39               0                0
6             107               0                0
7              74               0                0
8             181               0                0
9              96               0                0
10             10               0                0
11             83               1                0
12             30               0                0
13             95               0                0
14             54               0                0
15             67               0                0
16             52               0                0
17             21               0                0
18              8               0                0
19             38               0                1
20           1186               1                1

Results have been written to Numbers_of_MALs_Per_region_Ticket_Cost.csv

In [7]:
""" In the next step we want to create a dataframe with all museums, archives libraries and the free-entry numbers distribution for each city. This will require Modification of each archives, museums and libraries dataframe with free entry and their city counts. 
This approach will be useful for the merge of all the single dataframes into one."""

#reading csv files with related info to museums, archives and libraries with free entry and their count per city
df_museum_free_entry_city_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Museums_TicketCost_FreeEntry\Museums_Free_Entry_city_count.csv')
df_archive_free_entry_city_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Archives_FreeEntry_TicketCost\Archive_Free_Entry_city_count.csv')
df_library_free_entry_city_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Libraries_FreeEntry_TicketCost\library_Free_Entry_city_count.csv')

#Creating modified dataframes for museums, libraries and archives with their city (only the name) and their count
df_museum_free_entry_city_counts_modified=pd.DataFrame()
df_museum_free_entry_city_counts_modified['City'] = df_museum_free_entry_city_counts['Museum_City'].str.split('/').str[-1]
df_museum_free_entry_city_counts_modified ['Museums_Number']= df_museum_free_entry_city_counts['Count']


df_archive_free_entry_city_counts_modified=pd.DataFrame()
df_archive_free_entry_city_counts_modified['City'] = df_archive_free_entry_city_counts['Archive_City'].str.split('/').str[-1]
df_archive_free_entry_city_counts_modified['Archives_Number']= df_archive_free_entry_city_counts['Count']


df_libraries_free_entry_city_counts_modified=pd.DataFrame()
df_libraries_free_entry_city_counts_modified['City'] = df_library_free_entry_city_counts['Library_City'].str.split('/').str[-1]
df_libraries_free_entry_city_counts_modified['Libraries_Number']= df_library_free_entry_city_counts['Count']


# display (df_museum_free_entry_city_counts_modified)
# display (df_archive_free_entry_city_counts_modified)
# display (df_libraries_free_entry_city_counts_modified)


#Mergin of all libraries, archives and museums dataframes and city count into one dataframe
df_all_numbers_city_free_entry = df_museum_free_entry_city_counts_modified.merge(df_archive_free_entry_city_counts_modified, on='City', how='outer').merge(df_libraries_free_entry_city_counts_modified, on='City', how='outer')

#Changing NaN values into '0' and having integers number in all columns
df_all_numbers_city_free_entry['Museums_Number'] = df_all_numbers_city_free_entry['Museums_Number'].fillna(0).astype(int)
df_all_numbers_city_free_entry['Archives_Number'] = df_all_numbers_city_free_entry['Archives_Number'].fillna(0).astype(int)
df_all_numbers_city_free_entry['Libraries_Number'] = df_all_numbers_city_free_entry['Libraries_Number'].fillna(0).astype(int)

total_index = df_all_numbers_city_free_entry[df_all_numbers_city_free_entry['City'] == 'TOTAL'].index[0]
total_row = df_all_numbers_city_free_entry.loc[total_index]
df_all_numbers_city_free_entry.drop(index=total_index, inplace=True)
df_all_numbers_city_free_entry = df_all_numbers_city_free_entry.sort_values(by='City')
df_all_numbers_city_free_entry= pd.concat ([df_all_numbers_city_free_entry, total_row.to_frame().T], ignore_index=True)




# #Creation of an header for the final dataframe
new_header = ['Numbers per city of Museums, Archives, Libraries with a free entry cost'] + [''] * (len(df_all_numbers_city_free_entry.columns) - 1)
df_all_numbers_city_free_entry.columns = pd.MultiIndex.from_tuples(zip(new_header, df_all_numbers_city_free_entry.columns))

display(df_all_numbers_city_free_entry)


# CSV of above Dataframe
csv_file_all_numbers_city = "Numbers_of_MALs_Per_city_Free_Entry.csv"
df_all_numbers_city_free_entry.to_csv(csv_file_all_numbers_city , index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_all_numbers_city}")

    Numbers per city of Museums, Archives, Libraries with a free entry cost  \
                                                                       City
0                                               Acerra
1                                         Aci_Castello
2                                           Acqualagna
3                                          Acqui_Terme
4                                                 Adro
..                                                 ...
873                                            Zibello
874                                            Zignago
875                                              Zocca
876                                              Zogno
877                                              TOTAL


    Museums_Number Archives_Number Libraries_Number
0                3               0                0
1                1               0                0
2                1               0                0
3                2               0                0
4                1               0                0
..             ...             ...              ...
873              1               0                0
874              1               0                0
875              1               0                0
876              1               0                0
877           1370             106               37

[878 rows x 4 columns]

Results have been written to Numbers_of_MALs_Per_city_Free_Entry.csv

In [9]:
""" In the last step  we want to create a dataframe with all museums, archives libraries and the ticket cost numbers distribution for each city. This will require Modification of each archives, museums and libraries dataframe with free entry and their city counts. 
This approach will be useful for the merge of all the single dataframes into one."""

#reading csv files with related info to museums, archives and libraries with a ticket cost and their count per city
df_museum_ticket_cost_city_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Museums_TicketCost_FreeEntry\Museums_Ticket_Cost_City_count.csv')
df_archive_ticket_cost_city_counts= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Archives_FreeEntry_TicketCost\Archive_ticket_cost_city_count.csv')
df_library_ticket_cost_city_count= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Libraries_FreeEntry_TicketCost\library_ticket_cost_city_count.csv')


#Creating a modified dataframe for museums with a ticket cost, their city(only the names) and count
df_museum_ticket_cost_city_counts_modified=pd.DataFrame()
df_museum_ticket_cost_city_counts_modified['City'] = df_museum_ticket_cost_city_counts['Museum_City'].str.split('/').str[-1]
df_museum_ticket_cost_city_counts_modified['Museums_Number']= df_museum_ticket_cost_city_counts['Count']
df_museum_ticket_cost_city_counts_modified = df_museum_ticket_cost_city_counts_modified.groupby('City', as_index=False)['Museums_Number'].sum()
total_index = df_museum_ticket_cost_city_counts_modified[df_museum_ticket_cost_city_counts_modified['City'] == 'TOTAL'].index[0]
total_row = df_museum_ticket_cost_city_counts_modified.loc[total_index]
df_museum_ticket_cost_city_counts_modified.drop(index=total_index, inplace=True)
df_museum_ticket_cost_city_counts_modified=pd.concat ([df_museum_ticket_cost_city_counts_modified, total_row.to_frame().T], ignore_index=True)

#Creating a modified dataframe for archives with a ticket cost, their city (only the names) and count
df_archive_ticket_cost_city_counts_modified=pd.DataFrame()
df_archive_ticket_cost_city_counts_modified['City'] = df_archive_ticket_cost_city_counts['Archive_City'].str.split('/').str[-1]
df_archive_ticket_cost_city_counts_modified['Archives_Number']= df_archive_ticket_cost_city_counts['Count']

#Creating a modified dataframe for libraries with a ticket cost, their city (only the names) and count
df_libraries_ticket_cost_city_counts_modified=pd.DataFrame()
df_libraries_ticket_cost_city_counts_modified['City'] = df_library_ticket_cost_city_count['Library_City'].str.split('/').str[-1]
df_libraries_ticket_cost_city_counts_modified['Libraries_Number']= df_library_ticket_cost_city_count['Count']


# display (df_museum_ticket_cost_city_counts_modified)
# display (df_archive_ticket_cost_city_counts_modified)
# display (df_libraries_ticket_cost_city_counts_modified)


# Merging of all libraries, archives and museums dataframes with a ticket cost for city count into one dataframe
df_all_numbers_city_ticket_cost = df_museum_ticket_cost_city_counts_modified.merge(df_archive_ticket_cost_city_counts_modified, on='City', how='outer').merge(df_libraries_ticket_cost_city_counts_modified, on='City', how='outer')


# #Changing Nan values into '0' and having all integers number in Archives_Number Column
df_all_numbers_city_ticket_cost['Archives_Number'] = df_all_numbers_city_ticket_cost['Archives_Number'].fillna(0).astype(int)

#Changing Nan values into '0'  and having all integers number in Libraries_Number Column       
df_all_numbers_city_ticket_cost['Libraries_Number'] = df_all_numbers_city_ticket_cost['Libraries_Number'].fillna(0).astype(int)
total_index = df_all_numbers_city_ticket_cost[df_all_numbers_city_ticket_cost['City'] == 'TOTAL'].index[0]
total_row = df_all_numbers_city_ticket_cost.loc[total_index]
df_all_numbers_city_ticket_cost.drop(index=total_index, inplace=True)
df_all_numbers_city_ticket_cost = df_all_numbers_city_ticket_cost.sort_values(by='City')
df_all_numbers_city_ticket_cost= pd.concat ([df_all_numbers_city_ticket_cost, total_row.to_frame().T], ignore_index=True)




# #Creation of an header for the final dataframe
new_header = ['Numbers per City of Museums, Archives, Libraries with a ticket entry cost'] + [''] * (len(df_all_numbers_city_ticket_cost.columns) - 1)
df_all_numbers_city_ticket_cost.columns = pd.MultiIndex.from_tuples(zip(new_header, df_all_numbers_city_ticket_cost.columns))
display(df_all_numbers_city_ticket_cost)

# CSV of above Dataframe
csv_all_numbers_city_ticket_cost = "Numbers_of_MALs_Per_City_Ticket_Cost.csv"
df_all_numbers_city_ticket_cost.to_csv(csv_all_numbers_city_ticket_cost, index=False, encoding='utf-8')
print(f"Results have been written to {csv_all_numbers_city_ticket_cost}")

    Numbers per City of Museums, Archives, Libraries with a ticket entry cost  \
                                                                         City
0                                          Abano_Terme
1                                      Abbadia_Lariana
2                                         Aci_Castello
3                                        Acquapendente
4                                          Acqui_Terme
..                                                 ...
705                                       Zavattarello
706                                              Zogno
707                                       Zola_Predosa
708                                             Zuglio
709                                              TOTAL


    Museums_Number Archives_Number Libraries_Number
0                1               0                0
1                1               0                0
2                1               0                0
3                2               0                0
4                1               0                0
..             ...             ...              ...
705              1               0                0
706              1               0                0
707              1               0                0
708              1               0                0
709           1186               1                1

[710 rows x 4 columns]

Results have been written to Numbers_of_MALs_Per_City_Ticket_Cost.csv