In [7]:
""" Analysis of Archives with a Free Entry and with a Ticket cost entry (if any exists)"""


#CHEKING FOR ANY ARCHIVE WITH A FREE ENTRY COST

#Script for extracting IDs from Dataframe of Entites with a Free Entry cost

import re
import pandas as pd

df_free_entry=pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Entities_Free_Entry.csv')
df_archives=pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\Dati_Archivi\Archives_Luoghi_Cultura.csv')

def extract_id(entity_id):
    match = re.search(r'/(\d+)_', entity_id)
    if match:
        return match.group(1)  
    return None  

numeric_ids = df_free_entry['Entity_ID'].apply(extract_id).tolist()

#Script for checking if any Archive Ids in Library Dataframe match with Ids in numeric_ids list made from free enty entities Dataframe
def check_id_in_archive_id(archive_id):
    for numeric_id in numeric_ids:
        if numeric_id in archive_id:
            return 'Free Entry' 
    return None


#Dataframes of Archivies with free entry cost and their number for each region
df_archives['Ticket_Cost'] = df_archives['Archive_ID'].apply(check_id_in_archive_id)
df_archive_free_ticket_cost = df_archives[df_archives['Ticket_Cost'] == 'Free Entry'].reset_index(drop=True)

df_archive_free_entry_region_counts = df_archive_free_ticket_cost.groupby(['Archive_Region', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_archive_free_entry_region_counts ['Count'].sum()
total_row = pd.DataFrame({'Archive_Region': ['TOTAL'], 'Count': [total_count]})
df_archive_free_entry_region_counts  = pd.concat([df_archive_free_entry_region_counts , total_row], ignore_index=True).fillna('')

df_archive_free_entry_city_counts = df_archive_free_ticket_cost.groupby(['Archive_City', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_archive_free_entry_city_counts['Count'].sum()
total_row = pd.DataFrame({'Archive_City': ['TOTAL'], 'Count': [total_count]})
df_archive_free_entry_city_counts  = pd.concat([df_archive_free_entry_city_counts, total_row], ignore_index=True).fillna('')


#Displaying dataframes of archive free entry entities and the region/city count
display(df_archive_free_ticket_cost)
display(df_archive_free_entry_region_counts)
display(df_archive_free_entry_city_counts)

# CSV of above Dataframes
csv_file_archive_free_entry_cost = "Archive__free_entry_cost.csv"
df_archive_free_ticket_cost.to_csv(csv_file_archive_free_entry_cost, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_archive_free_entry_cost }")

csv_file_archive_free_entry_region = "Archive_Free_Entry_region_count.csv"
df_archive_free_entry_region_counts.to_csv(csv_file_archive_free_entry_region, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_archive_free_entry_region}")

csv_file_archive_free_entry_city_count = "Archive_Free_Entry_city_count.csv"
df_archive_free_entry_city_counts.to_csv(csv_file_archive_free_entry_city_count, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_archive_free_entry_city_count}")

,Archive_ID,Archive_Name,Archive_City,Archive_Region,Archive_Latitude,Archive_Longitude,Ticket_Cost
0,http://dati.beniculturali.it/mibact/luoghi/res...,Archivio di Stato di Trento,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,46.088320,11.109711,Free Entry
1,http://dati.beniculturali.it/mibact/luoghi/res...,"Archivio di Stato di Bologna, Sezione di Imola",http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.355590,11.711252,Free Entry
2,http://dati.beniculturali.it/mibact/luoghi/res...,Archivio centrale dello Stato,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,41.829040,12.475380,Free Entry
3,http://dati.beniculturali.it/mibact/luoghi/res...,Archivio di Stato di Ancona. Sede distaccata,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.595825,13.503158,Free Entry
4,http://dati.beniculturali.it/mibact/luoghi/res...,Archivio di Stato di Catanzaro,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,38.904270,16.592810,Free Entry
...,...,...,...,...,...,...,...
101,http://dati.beniculturali.it/mibact/luoghi/res...,Archivio di Stato di Firenze,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.768330,11.269540,Free Entry
102,http://dati.beniculturali.it/mibact/luoghi/res...,Domus mazziniana,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.711628,10.398145,Free Entry
103,http://dati.beniculturali.it/mibact/luoghi/res...,Archivio della fotografia,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.114650,9.810335,Free Entry
104,http://dati.beniculturali.it/mibact/luoghi/res...,Villa Vicentini Miniussi,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,41.869560,12.568359,Free Entry
105,http://dati.beniculturali.it/mibact/luoghi/res...,Collezione storica ATC Bologna,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.507275,11.350482,Free Entry

                                       Archive_Region Ticket_Cost  Count
0   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
1   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      2
2   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
3   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      4
4   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     10
5   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      4
6   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
7   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      4
8   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
9   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      9
10  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      2
11  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      8
12  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      3
13  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      4
14  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
15  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
16  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      2
17  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      6
18  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      6
19                                              TOTAL                106

                                          Archive_City Ticket_Cost  Count
0    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
1    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
2    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      3
3    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
4    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
..                                                 ...         ...    ...
96   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
97   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
98   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
99   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
100                                              TOTAL                106

[101 rows x 3 columns]

Results have been written to Archive__free_entry_cost.csv
Results have been written to Archive_Free_Entry_region_count.csv
Results have been written to Archive_Free_Entry_city_count.csv

In [6]:
#CHEKING FOR ANY ARCHIVE WITH A TICKET COST

#Finding if there is any archive with a TICKET COST for entry (only 1 found!)

df_ticket_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Entities_Ticket_Cost.csv')

def extract_id(entity_id):
    match = re.search(r'/(\d+)_', entity_id)
    if match:
        numeric_id = match.group(1)  
        price = df_ticket_cost.loc[df_ticket_cost['Entity_ID'] == entity_id, 'Entry_Price'].iloc[0]  
        return (numeric_id, price)  
    return None  
numeric_ids_with_prices= df_ticket_cost['Entity_ID'].apply(extract_id).tolist()


#Script for checking if any Archive Ids in Library Dataframe match with Ids in numeric_ids list made from TICKET COST entities Dataframe
def check_id_in_archive_id(archive_id):
    for numeric_id, price in numeric_ids_with_prices:
        if numeric_id in archive_id:
            return price  
    return None  



#removing wrong matches from dataframes of archive ticket cost 
df_archives['Ticket_Cost'] = df_archives['Archive_ID'].apply(check_id_in_archive_id)
df_archive_ticket_cost = df_archives[df_archives['Ticket_Cost'].notnull()].reset_index(drop=True)
IDs_to_remove=["http://dati.beniculturali.it/mibact/luoghi/resource/CulturalInstituteOrSite/120075",
               "http://dati.beniculturali.it/mibact/luoghi/resource/CulturalInstituteOrSite/117164",
               "http://dati.beniculturali.it/mibact/luoghi/resource/CulturalInstituteOrSite/120161",
               "http://dati.beniculturali.it/mibact/luoghi/resource/CulturalInstituteOrSite/120074"
                ]
df_archive_ticket_cost = df_archive_ticket_cost[~df_archive_ticket_cost['Archive_ID'].isin(IDs_to_remove)]
df_archive_ticket_cost['Ticket_Cost'] = df_archive_ticket_cost['Ticket_Cost'].str.replace(',', '.').astype(float).map('{:.2f}'.format)


#Dataframe for archives with a ticket cost and their region/city count
df_archive_ticket_cost_region_counts = df_archive_ticket_cost.groupby(['Archive_Region', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_archive_ticket_cost_region_counts ['Count'].sum()
total_row = pd.DataFrame({'Archive_Region': ['TOTAL'], 'Count': [total_count]})
df_archive_ticket_cost_region_counts  = pd.concat([df_archive_ticket_cost_region_counts , total_row], ignore_index=True).fillna('')

df_archive_ticket_cost_city_counts = df_archive_ticket_cost.groupby(['Archive_City', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_archive_ticket_cost_city_counts['Count'].sum()
total_row = pd.DataFrame({'Archive_City': ['TOTAL'], 'Count': [total_count]})
df_archive_ticket_cost_city_counts  = pd.concat([df_archive_ticket_cost_city_counts, total_row], ignore_index=True).fillna('')

#Displaying dataframes of archive ticket cost entites and the region/city count
display(df_archive_ticket_cost)
display(df_archive_ticket_cost_region_counts)
display(df_archive_ticket_cost_city_counts)

# CSV of above Dataframes
csv_file_archive_ticket_cost = "Archive__ticket_cost.csv"
df_archive_ticket_cost.to_csv(csv_file_archive_ticket_cost, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_archive_ticket_cost }")

csv_file_archive_ticket_cost_region = "Archive_ticket_cost_region_count.csv"
df_archive_ticket_cost_region_counts.to_csv(csv_file_archive_ticket_cost_region , index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_archive_ticket_cost_region }")

csv_file_archive_ticket_cost_city_count = "Archive_ticket_cost_city_count.csv"
df_archive_ticket_cost_city_counts.to_csv(csv_file_archive_ticket_cost_city_count, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_archive_ticket_cost_city_count}")

,Archive_ID,Archive_Name,Archive_City,Archive_Region,Archive_Latitude,Archive_Longitude,Ticket_Cost
4,http://dati.beniculturali.it/mibact/luoghi/res...,Casa Zegna,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,45.67137,8.157712,3.00

                                      Archive_Region Ticket_Cost  Count
0  http://dati.beniculturali.it/mibact/luoghi/res...        3.00      1
1                                              TOTAL                  1

                                        Archive_City Ticket_Cost  Count
0  http://dati.beniculturali.it/mibact/luoghi/res...        3.00      1
1                                              TOTAL                  1

Results have been written to Archive__ticket_cost.csv
Results have been written to Archive_ticket_cost_region_count.csv
Results have been written to Archive_ticket_cost_city_count.csv